/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

/* Defaults */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

$preferred-color: #0891b2;

.animated-icons {
  > div {
    transition: transform 0.5s;
    will-change: transform;

    a {
      color: black;
    }

    &:hover {
      transform: rotate(360deg);
    }
  }
}

body {
  font-family: "Roboto", sans-serif;

  header {
    .header-background-design {
      background-color: $preferred-color;
      transform: skewY(-15deg) translateY(-50%);
    }

    .hero-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1rem;

      .hero-name {
        position: absolute;
        bottom: 0;
        left: 2.5%;
        text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .animated-icons {
        justify-content: center;
      }
    }
  }

  main {
    .my-work {
      text-align: center;
    }

    .projects {
      > div {
        transition: transform 0.3s;
        will-change: transform;

        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }

  footer {
    background-color: $preferred-color;
  }
}

@media (max-width: 320px) {
  .drop-shadow-container {
    margin-bottom: 12%;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .drop-shadow-container {
    margin-bottom: 22%;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .drop-shadow-container {
    margin-bottom: 32%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  header {
    .hero-container {
      display: block !important;
      max-width: 96%;
      margin: 1rem auto;

      .image-and-name {
        .hero-image {
          max-width: 360px;
          height: auto;
          float: left;
          margin-right: 0.75rem;
        }

        .hero-name {
          font-size: calc(1rem + 4.5vw);
          bottom: unset;
          left: 48%;
        }
      }

      .about-me {
        background-color: white;
        padding: 1rem;
        padding-top: 3rem;
        margin-top: 7.5rem;
        margin-left: 3rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

        p {
          margin: 0.5rem;
        }

        .animated-icons {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media (min-width: 426px) {
  main {
    .my-work {
      text-align: left !important;
      margin-bottom: 0;
    }
  }

  footer {
    position: relative;
    padding: 3rem 1.5rem;

    .contact-info {
      padding-left: 0 !important;
      max-width: 50%;

      .animated-icons {
        justify-content: start !important;
      }
    }

    .footer-image {
      max-width: 50%;
      right: 2.5%;
      top: 15%;
      max-height: 90%;
      position: absolute;
    }
  }
}

@media (min-width: 769px) {
  footer {
    padding: 5rem 2.5rem;

    .footer-image {
      top: 10%;
    }
  }
}
